.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-pagination-font-size);
    gap: var(--gap-pagination);
}

.pageNum {
    display: grid;
    place-items: center;
    width: var(--height-square-pagination);
    height: var(--height-square-pagination);
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}

.number {
    border-radius: 999999px;
}

.previous.disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: no-drop;
}

.next.disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: no-drop;
}

.previous,
.next {
    user-select: none;
    width: var(--width-previous-pagination-button);
    padding: 0 .8rem;
}

.number:hover,
.previous:hover,
.next:hover {
    color: var(--white-color);
    background: var(--background-button-hover-color);
}

.active {
    color: var(--white-color);
    background: var(--background-button-color);
}

@media (max-width: 440px) {
    .pagination {
        font-size: 1rem;
    }

    .pageNum {
        font-size: 1.4rem;
    }
}
