.wrapper {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999999999999999999;
}

.boxContent {
    width: 900px;
    height: 500px;
    background-color: var(--white-color);
    border-radius: 6px;
    padding: 12px 0;
}

.inputArea {
    padding: 20px 15px;
    overflow-y: auto;
    height: 400px;
}

.inputArea::-webkit-scrollbar {
    width: 10px;
}

.inputArea::-webkit-scrollbar-thumb {
    cursor: pointer;
    width: 8px;
    background: var(--vertical-scroll-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 0 15px;
}

.title {
    font-weight: 600;
}

.closeBtn {
    font-size: 28px;
    cursor: pointer;
}

.closeBtn:hover {
    transform: scale(1.1);
}

.bodyModal {
    padding: 4px 0;
    height: 100%;
}

.bodyForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formField:not(:last-child) {
    margin-bottom: 20px;
}

.formField {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.inputField {
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 20px;
    width: 100%;
    border: none;
    outline: none;
    color: #727272;
}

.inputField::placeholder {
    opacity: 0.5;
}

.labelField {
    font-weight: 500;
    line-height: 14px;
    padding: 0 2px;
    color: #727272;
    background-color: #fff;
    font-size: 13px;
    top: -10px;
    left: 20px;
    position: absolute;
}

.groupBtn {
    display: flex;
    justify-content: center;
}

.btnSubmit {
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btnCancel {
    margin-left: 20px;
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: rgb(146, 13, 13);
    color: var(--white-color);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btnCancel:hover,
.btnSubmit:hover {
    opacity: 0.8;
}

@media (max-width:992px) {
    .boxContent {
        margin: 0 12px;
        height: 80vh;
    }
}