@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
	/* --black-color: #333;
    --main-color: #9cc2d6;
    --white-color: #fff;
    --text-color: #50555e;
    --title-color: rgba(56, 161, 185, 1);
    --background-color: rgb(250, 249, 249);
    --border-color: #e6e7ee;
    --border-opacity-color: rgba(230, 231, 238, 0.4);
    --icon-color: rgba(146, 197, 205, 1);
    --dash-color: rgb(226, 226, 226);
    --th-tag-color: #22aeb8;
    --th-tag-background-color: rgba(234, 255, 255, 0.3);
    --tr-tag-color: rgba(255, 255, 255, 0.7);
    --shadow-color: rgba(3, 3, 3, 0.1);
    --background-button-color: radial-gradient(circle at center, #a5f4f9 0%, #fff);
    --background-button-previous-hover-color: linear-gradient(to left, #a5f4f9 0%, #fff);
    --background-button-next-hover-color:  rgb(216, 216, 216);
    --vertical-scroll-color: rgb(216, 216, 216);
    --background-button-hover-color: radial-gradient(circle at center, #9df2f8 0%, #fcfafa);
    --dropdown-color: #93bfcf;
    --border-item-sidebar-color: rgba(104, 162, 191, 1);
    --background-sidebar-color: linear-gradient(to bottom, rgba(23, 27, 46, 1), rgba(42, 52, 71, 1));
    --background-login-color: linear-gradient(to bottom, rgba(23, 27, 46, 0.6), rgba(42, 52, 71, 0.6));
    --sidebar-text-color:#92C5CD;
    --background-sidebar-hover-color: rgba(0, 0, 21, 0.1);
    --sidebar-text-hover-color: rgba(255, 255, 255, 0.87);
    --icon-sidebar-color: rgba(157, 165, 177, 1);
    --header-background-color: linear-gradient(to right, rgba(23, 27, 46, 1), rgba(42, 52, 71, 1));
    --background-login-button: #eee;
    --default-font-size: 1.6rem;
    --default-line-height: 1.6;
    --validate-error: rgb(255, 95, 95);
    --cancel-button-text-color: rgba(214, 214, 214, 0.9);
    --cancel-button-text-hover-color: #a7a7a7;
    --cancel-button-background-hover-color: linear-gradient(to left, rgba(204, 198, 198, 0.8) 0%, rgba(218, 211, 211, 0.6));
    --background-button-submit-color: #92C5CD;
    --background-button-submit-hover-color: linear-gradient(to left, #74f4fd 0%, #8ed9fb);
    --background-wrapper-contentModal-dutyBook-color: rgba(0, 0, 0, 0.7);
    --inputField-contentModal-dutyBook-color: #727272; */

	/* validation */
	--validation-color: red;

	/* New color  */
	--black-color: #333;
	--white-color: #fff;
	--dash-color: rgba(229, 231, 235, 1);

	/* error  */
	--validate-error: rgb(255, 95, 95);
	--error-text-login-color: rgba(255, 177, 177, 1);

	/* text  */
	--text-color: rgba(17, 24, 39, 1);
	--text-color-half-opacity: rgba(17, 24, 39, 0.5);
	--title-color: rgba(55, 65, 81, 1);
	--label-text-color: rgb(113, 119, 129, 1);
	--label-login-text-color: rgba(255, 255, 255, 0.85);

	/* border  */
	--border-color: rgba(209, 213, 219, 1);
	--border-item-sidebar-color: rgb(190, 190, 190);

	/* background  */
	--background-color: rgba(249, 250, 251, 1);
	--background-overlay-color: rgba(0, 0, 0, 0.8);
	--background-hover-color: rgba(243, 244, 246, 1);
	--background-button-color: rgba(29, 78, 216, 1);
	--background-button-hover-color: rgba(30, 64, 175, 1);
	--background-login-color: linear-gradient(to bottom, rgba(23, 27, 46, 0.55), rgba(42, 52, 71, 0.55));

	/* shadow  */
	--ring-offset-shadow-color: 0 0 #000;
	--shadow-color: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

	/* placeholder color  */
	--placeholder-color: rgba(111, 114, 128, 0.85);
	--login-placeholder-color: rgba(255, 255, 255, 0.5);

	/* icon  */
	--icon-color: rgba(107, 114, 128, 0.85);
	--icon-hover-color: rgba(107, 114, 128, 1);

	/* font size  */
	--default-font-size: 1.6rem;
	--plus-font-size: 2.8rem;
	--name-book-font-size: 2.4rem;
	--delete-icon-font-size: 1.8rem;
	--text-pagination-font-size: 1.2rem;
	--label-font-size: 1.4rem;
	--asterisk-required-font-size: 1.3rem;
	--upload-icon-font-size: 2.2rem;
	--icons-in-slide-image-font-size: 4.4rem;

	/* line height  */
	--default-line-height: 1.6;

	/* height  */
	--height-input-default: 4.4rem;
	--height-title: 5rem;
	--height-content-header: 6rem;
	--height-square-pagination: 3.6rem;

	/* width  */
	--width-previous-pagination-button: 6.8rem;
	--width-button-default: 8rem;
	--width-login-button: 14rem;
	--width-image-default-in-row-table: 3rem;
	--max-width-image-frame-of-slide: 92vh;
	--width-of-status-book-of-the-day: 24rem;
	--min-width-image-column: 9.6rem;

	/* gap  */
	--gap-pagination: 0.6rem;

	/* border radius  */
	--border-radius-12px: 1.2rem;
	--border-radius-8px: 0.8rem;
	--border-image-in-td-tag: 0.2rem;

	/* scale  */
	--scale-default: 1.07;
	--scale-logout: 1.15;

	/* margin  */
	--margin-right-button-default: 1rem;

	/* time transition  */
	--time-transition-default: 0.3s;

	/* left  */
	--left-image-position: 2.4rem;

	/* right  */
	--right-fake-last-image: -4.6rem;

	/* z-index  */
	--first-image-z-index-in-td-tag: 3;
	--second-image-z-index-in-td-tag: 2;
	--z-index-default: 1;
	--slide-images-z-index: 9999;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
	font-size: var(--default-font-size);
	line-height: var(--default-line-height);
	text-rendering: optimizeSpeed;
	color: var(--text-color);
	background: var(--white-color);
	position: relative;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	cursor: pointer;
	width: 8px;
	background: var(--vertical-scroll-color);
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button,
td {
	outline: none;
	border: none;
}

input,
button,
select {
	height: var(--height-input-default);
}

input {
	color: var(--text-color);
}

button {
	padding: 1.2rem 2rem;
	background: var(--background-button-color);
	color: var(--white-color);
	border-radius: var(--border-radius-8px);
	width: var(--width-button-default);
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

button:hover {
	cursor: pointer;
	background: var(--background-button-hover-color);
}

label {
	font-weight: 600;
	padding: 0 6px;
	line-height: var(--label-font-size);
	color: var(--label-text-color);
	background: var(--white-color);
	font-size: var(--label-font-size);
}

label span {
	color: var(--validate-error);
}

div span {
	color: var(--validation-color);
}

table > thead > tr > th,
table > tbody > tr > td {
	border: 1px solid var(--dash-color) !important;
	max-width: 35rem !important;
	padding: 0 1rem !important;
	width: auto !important;
	min-width: 20rem !important;
}

table > tbody > tr > td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

textarea {
	resize: none;
}
