.contentBody::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  width: 90%;
}
.contentBody::-webkit-scrollbar {
  height: 15px;
  width: 100%;
}
.contentBody {
  /* background: var(--background-color); */
  height: auto;
  overflow-x: auto;
}
.content {
  overflow: hidden;
  height: auto;
  position: relative;
  top: -54px;
  padding: 10px;
}
.export {
  align-items: center;
  display: flex;
}
.iconExport {
  cursor: pointer;
}
.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid var(--dash-color);
  height: 6rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
.contentHeader > h2 {
  color: var(--text-color);
  font-size: 2.4rem;
  line-height: 3.4rem;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.searchAndAdd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
  flex: 1;
}
.btnExportFile {
  padding: 4px 8px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid var(--white-color);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--white-color);
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.1s;
}
.btnExportFile:hover {
  transform: scale(1.05);
}
.inputDateExport {
  width: 112px;
  height: 3rem;
  border-radius: 7px;
}
.search {
  display: flex;
  align-items: center;
  height: var(--height-input-default);
  background: var(--white-color);
  padding: 0.4rem 1.2rem;
  border-radius: 1.2rem;
  margin-right: 1rem;
  border: 1px solid var(--border-color);
  min-width: 5rem;
  width: 26rem;
}
.search > input {
  height: 100%;
  flex: 1 1;
  min-width: 5rem;
  position: relative;
}
.search > input::placeholder {
  color: var(--icon-color);
  font-weight: 500;
}
.searchIcon {
  font-size: var(--text-color);
  color: var(--icon-color);
  border-left: 1px solid var(--border-color);
  padding-left: 0.6rem;
  font-size: 2.8rem;
}
.closeIcon {
  font-size: var(--text-color);
  color: var(--icon-color);
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 3rem;
  position: absolute;
  right: 103px;
}
.closeIcon:hover {
  cursor: pointer;
  color: var(--icon-hover-color);
}

.addNew {
  border-radius: 50%;
  border: 2px solid var(--white-color);
  width: var(--height-input-default);
  height: var(--height-input-default);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background: var(--background-button-color);
}
.addNew:hover {
  background: var(--background-button-hover-color);
  transform: scale(1.04);
}
.addNew > button {
  font-size: 3.4rem;
  background: transparent;
  line-height: 1rem;
  font-weight: 300;
}
.addNew > button:hover {
  cursor: pointer;
}
.contentBody > .tableContent > thead > tr > th {
  border: 1px solid #00000036;
  border-collapse: collapse;
}
.tableContent > tbody > tr > td {
  border: 1px solid #00000036;
  border-collapse: collapse;
}
.empty {
  width: 30px;
}
.days {
  max-width: 10rem !important;
  min-width: 10rem !important;
  width: 10rem !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.trafficDate {
  max-width: 15rem !important;
  min-width: 15rem !important;
  width: 15rem !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.trafficIntersection {
  max-width: 17rem !important;
  min-width: 17rem !important;
  width: 17rem !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.trafficIntersection div {
  text-align: left;
  padding: 5px 0px;
}
.morningTraffic {
  max-width: 20rem !important;
  min-width: 19rem !important;
  width: 19rem !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.morningTraffic div {
  text-align: left;
  padding: 5px 0px;
}
.afternoonTraffic {
  max-width: 21rem !important;
  min-width: 19rem !important;
  width: 19rem !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.afternoonTraffic div {
  text-align: left;
  padding: 5px 0px;
}
.note {
  max-width: 25rem !important;
  min-width: 25rem !important;
  width: 25rem !important;
  text-align: left;
}
.trafficNote {
  -webkit-line-clamp: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  text-align: left;
}
.contentBody {
  flex: 1;
  overflow-x: auto;
  padding-bottom: 0.2rem;
}
.contentBody::-webkit-scrollbar {
  height: 1.4rem;
  background-color: var(--background-color);
}
.contentBody::-webkit-scrollbar-thumb {
  height: 8px;
  background: var(--background-button-next-hover-color);
}
.tableContent {
  width: 100%;
  border-collapse: collapse;
}
.contentBody {
  width: 100%;
}
.contentBody > table > thead > tr {
  height: 5rem;
  background: var(--background-color);
}
.contentBody > table > thead > tr > th {
  font-size: 1.6rem;
  padding: 0 0.4rem;
  color: var(--text-color);
  font-weight: 600;
  background: var(--th-tag-background-color);
}
.contentDecisionId,
.contentFullName,
.contentStaying,
.contentBirthday,
.contentNation,
.contentCountry,
.contentJob,
.contentContent,
.contentPunisher,
.contentProcessingForm,
.contentFullNamePolice {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 7rem;
  max-width: 23rem;
  width: 100%;
}
.contentStaying {
  font-size: 18px;
}
.contentDecisionId,
.contentBirthday,
.contentStt,
.contentEditAndDelete {
  font-size: 16px;
}
.contentDecisionId,
.contentBirthday {
  text-align: center !important;
}
.stt {
  min-width: 4.6rem;
  width: 3.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.traffic {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentBody > table > tbody > tr {
  background: var(--tr-tag-color);
  height: 9.7rem;
}
.contentBody > table > tbody > tr:hover {
  cursor: pointer;
  box-shadow: 0.4rem 0.8rem 2.2rem var(--shadow-color);
  background: var(--white-color);
}
.contentBody > table > tbody > tr > td {
  color: var(--text-color);
}
.stt,
.contentStt {
  min-width: 4.6rem !important;
  width: 3.6rem !important;
  text-align: right !important;
}
.editAndDelete {
  min-width: 4rem !important;
  max-width: 4rem !important;
  width: 4rem !important;
}
.contentEditAndDelete {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  min-width: 4rem !important;
  max-width: 4rem !important;
  width: 4rem !important;
  text-align: center !important;
}
.contentEditAndDelete > .edit {
  color: var(--text-color-half-opacity);
  font-size: 18px;
}
.delete {
  color: var(--error-text-login-color);
  font-size: var(--delete-icon-font-size);
}

.delete:hover {
  color: var(--validate-error);
}
.pagination {
  margin-top: 1.6rem;
}
.loadingArea {
  pointer-events: none;
  text-align: center;
  background: var(--th-tag-background-color);
}
.searchAndAddMobile {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
}
.groupBtnLeft,
.groupBtnRight {
  display: flex;
}
.groupBtnLeft {
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.startExportDate,
.endExportDate {
  display: flex;
  flex-direction: column;
}
.startExportDate span,
.endExportDate span {
  font-size: 1.4rem;
}
.inputField {
  width: 160px;
  padding: 10px;
  font-size: 16px;
  border: none;
  height: 4rem;
  border-radius: 12px;
  background-color: #fff;
  color: var(--text-color);
  outline: none;
  margin-right: 11px;
}
.inputField option {
  font-size: 14px;
  background-color: #fff;
  color: var(--text-color);
  border: none;
}
.selectBtn {
  width: 16.5rem;
  background: var(--white-color);
  margin-right: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-12px);
}
@media (max-width: 1349px) {
  .groupBtnLeft {
    display: flex;
    justify-content: center;
  }
  .search {
    flex: 1 1;
  }
}
@media (max-width: 1100px) {
  .searchAndAddMobile {
    flex-direction: column;
    gap: 1.6rem;
  }
  .groupBtnRight {
    width: 100%;
    flex: 1;
  }
  .groupBtnLeft {
  }
  .startExportDate,
  .endExportDate {
    display: flex;
    margin-left: 12px;
  }
  .searchAndAddMobile .search {
    flex: 1;
  }
  .groupBtnLeft {
    gap: 0px;
  }
  .btnExportFile {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .inputField option {
    font-size: 12px;
    width: 80px;
  }
}
@media (max-width: 768px) {
  .contentHeader h2 {
    font-size: 2rem;
  }
  .contentBody > table > thead > tr > th {
    font-size: 1.5rem;
  }
  .contentBody > table > tbody > tr > td {
    font-size: 1.5rem;
  }
  .searchAndAdd {
    display: none;
  }
  .searchAndAddMobile {
    display: flex;
    justify-content: space-between;
  }
  .searchAndAddMobile .search {
    flex: 1;
  }
  .contentHeader > h2 {
    text-align: center;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.4rem;
  }
}
