.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
div.text_1 {
  display: flex;
  justify-content: space-between;
}
div.text_2 {
  display: flex;
  justify-content: space-between;
}
.content .formField {
  width: 100%;
  height: 100%;
}
.bodyForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bodyForm.readOnlyStyle .formField,
.bodyForm.readOnlyStyle label,
.bodyForm.readOnlyStyle textarea,
.bodyForm.readOnlyStyle input {
  color: var(--text-color);
  pointer-events: none;
}
.bodyForm.readOnlyStyle textarea {
  line-height: 1.5;
  font-size: 16px;
}
.bodyForm textarea,
.bodyForm input {
  line-height: 1.5;
  font-size: 16px;
}
.bodyForm.display {
  visibility: hidden;
  opacity: 0;
}
.inputArea {
  padding: 15px;
  margin-bottom: 15px;
  overflow-y: auto;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.inputArea::-webkit-scrollbar {
  width: 10px;
}

.inputArea::-webkit-scrollbar-thumb {
  cursor: pointer;
  width: 8px;
  background: var(--vertical-scroll-color);
}
.grouPBtn {
  position: relative;
  width: 100%;
}
.groupDays,
.finedPersonInfo {
  display: flex;
  justify-content: space-between;
}
.inputFieldDays {
  height: 100%;
  margin-left: 5px;
  font-size: 17px;
  border: none;
  width: 90%;
  color: var(--label-text-color);
  padding: 0px 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--background-color);
  padding: 0 15px;
}
.title {
  font-weight: 600;
}
.closeBtn {
  font-size: 28px;
  cursor: pointer;
}
.closeBtn:hover {
  transform: scale(1.1);
}
.bodyModal {
  padding: 4px 0;
}
.agencyIssued .formField {
  width: 100%;
}
.subject .formField {
  width: 100%;
  margin-bottom: 35px;
}
.finedPersonInfo .formField:not(:last-child) {
  height: 100px;
}
.formField:not(:last-child) {
  margin-bottom: 35px;
}
.formField {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  height: 54px;
  width: 49%;
}
.trafficIntersectionGroup {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  height: 120px;
  width: 49%;
}
.morningGroup {
  margin-top: 40px;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  height: 165px;
  width: 49%;
}
.afternoonGroup {
  margin-top: 40px;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  height: 165px;
  width: 49%;
}
.formFieldNote {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  height: 120px;
  width: 49%;
}
.inputNote {
  height: 100%;
  margin-left: 5px;
  font-size: 17px;
  border: none;
  width: 90%;
  color: var(--label-text-color);
  padding: 12px 20px;
}
.inputNote:focus {
  outline: 0;
}
.violation .formField {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.violation .formField textarea {
  transform: translateY(0.6rem);
  z-index: 1;
  background: transparent;
  width: 100%;
  resize: none;
  border-radius: 8px;
}
.groupDate {
  position: relative;
  top: 30%;
}
.inputField {
  height: 100%;
  margin-left: 5px;
  font-size: 17px;
  padding: 12px 20px;
  width: 98%;
  border-bottom: 1px dashed #00000036;
  color: var(--label-text-color);
}
.inputDate {
  height: 100%;
  margin-left: 5px;
  font-size: 17px;
  padding: 12px 20px;
  width: 98%;
  color: var(--label-text-color);
}
.inputDate::placeholder {
  opacity: 0.6;
  font-size: 16px;
}
.textareaField {
  height: 90px;
  /* overflow: hidden; */
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 17px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--label-text-color);
}
.date {
  position: absolute;
  cursor: default;
}
.inputField::placeholder {
  opacity: 0.6;
  font-size: 16px;
}
.textareaField::placeholder {
  opacity: 0.6;
  font-size: 16px;
}
.dateText,
.textPlaceholder {
  width: 70%;
}
.dateText::placeholder {
  opacity: 1;
}
.textPlaceholder::placeholder {
  opacity: 0.6;
}
.labelField {
  font-weight: 600;
  line-height: 14px;
  padding: 0 6px;
  color: var(--label-text-color);
  background-color: #fff;
  font-size: 14px;
  top: -10px;
  left: 20px;
  position: absolute;
}
.groupBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.groupBtnLeft,
.groupBtnRight {
  display: flex;
}
.groupBtnLeft {
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.validatorTextTraffic {
  font-size: 1.2rem;
  position: relative;
  font-weight: 500;
  color: var(--grey-color);
  opacity: 0.8;
  left: 20px;
}
.btnSubmit {
  padding: 12px 20px;
  border: none;
  outline: none;
  background: var(--background-button-color);
  color: var(--white-color);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnSubmit:hover {
  background: var(--background-button-hover-color);
}
.btnCancel {
  margin-right: 20px;
  padding: 12px 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--cancel-button-text-color);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnCancel:hover {
  background: var(--placeholder-color);
  color: var(--white-color);
  opacity: 0.8;
  font-weight: 600;
}
.validatorTextTraffic {
  color: var(--validation-color);
}
@media (max-width: 992px) {
  .formField:not(:last-child) {
    margin-bottom: 20px;
  }
  .groupDays,
  .finedPersonInfo {
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
  }

  .formField {
    width: 100%;
  }

  .validatorText {
    top: -20px;
  }

  .text_1 {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .labelField {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .trafficIntersectionGroup,
  .morningGroup,
  .afternoonGroup,
  .formFieldNote {
    width: 100%;
  }
  .morningGroup {
    margin-top: 0px;
  }
  .afternoonGroup {
    margin-top: 20px;
  }
  .formFieldNote {
    margin-top: 20px;
  }
}
