/* Start css content  */
.wrapper {
  background: var(--background-color);
  padding: 1rem 4rem;
  height: auto;
}

.content {
  overflow: hidden;
  height: auto;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid var(--dash-color);
  height: 6rem;
  padding-bottom: 0.8rem;
}

.contentHeader > h2 {
  color: var(--text-color);
  font-size: 2.4rem;
  line-height: 2.4rem;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchAndAdd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30rem;
  min-width: 30rem;
}

.search {
  display: flex;
  align-items: center;
  height: 4rem;
  background: var(--white-color);
  padding: 0.4rem 1.2rem;
  border-radius: 1.2rem;
  margin-right: 1rem;
}

.search > input {
  height: 100%;
  flex: 1;
  color: var(--text-color);
}

.search > input::placeholder {
  color: var(--icon-color);
  font-weight: 500;
}

.searchicon {
  font-size: var(--text-color);
  cursor: pointer;
  color: var(--icon-color);
  border-left: 1px solid var(--border-color);
  padding-left: 0.6rem;
  font-size: 2.8rem;
}

.addnew {
  border-radius: 50%;
  border: 2px solid var(--white-color);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background: var(--background-button-color);
}

.addnew:hover {
  background: var(--background-button-hover-color);
  transform: scale(1.04);
}

.addnew > button {
  color: var(--icon-color);
  font-size: 3.4rem;
  background: transparent;
  line-height: 1rem;
  font-weight: 300;
}

.addnew > button:hover {
  cursor: pointer;
}

.contentbody {
  flex: 1;
  overflow-x: auto;
  padding-bottom: 0.2rem;
}

.contentbody::-webkit-scrollbar {
  height: 1.4rem;
  background-color: var(--background-color);
}

.contentbody::-webkit-scrollbar-thumb {
  height: 8px;
  background: var(--background-button-next-hover-color);
  border-radius: 1rem;
}

.tableContent {
  width: 100%;
  border-collapse: collapse;
}

.contentbody {
  width: 100%;
}

.contentbody > table > thead > tr {
  height: 5rem;
}

.contentbody > table > thead > tr > th:nth-child(1) {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.contentbody > table > thead > tr > th {
  font-size: 1.6rem;
  padding: 0 0.4rem;
  color: var(--text-color);
  font-weight: 600;
  background: var(--th-tag-background-color);
}

.headerTitle {
  border: 1px solid;
}

.itemTable {
  text-align: center;
}

.itemTable {
  text-align: center;
}

.violationError {
  min-width: 30rem;
  width: 30rem;
}
.licensePlates {
  min-width: 10rem;
  width: 10rem;
}

.stt {
  min-width: 6rem;
  width: 6rem;
}

.sentDate {
  min-width: 14rem;
  width: 14rem;
}

.dateOfPaymentFfFines {
  min-width: 16rem;
  width: 16rem;
}

.violatingImages {
  min-width: 18rem;
  width: 18rem;
}

.receiver {
  min-width: 14rem;
  width: 14rem;
}

.editAndDelete {
  min-width: 4rem;
  max-width: 5rem;
  width: 5rem;
}

.contentbody > table {
  border-spacing: 0 0.2rem;
}

.contentbody > table > tbody > tr {
  background: var(--tr-tag-color);
  height: 5rem;
}

.contentbody > table > tbody > tr:hover {
  cursor: pointer;
  box-shadow: 0.4rem 0.8rem 2.2rem var(--shadow-color);
  background: var(--white-color);
}

.contentbody > table > tbody > tr:hover td.contentStt {
  border-left: 0.4rem solid var(--main-color);
}

.contentbody > table > tbody > tr > td {
  color: var(--text-color);
}

.contentStt {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  text-align: center;
}

.contentSentDay,
.contentLicensePlates,
.contentPenaltyPaymentDate {
  text-align: center;
}

.contentReveiver {
  text-align: center;
  width: 20rem;
}

.contentViolation {
  padding: 0 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 30rem;
  max-width: 50rem;
  width: 100%;
}

.contentEditAndDelete {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  min-width: 6rem;
  max-width: 6rem;
  width: 6rem;
  text-align: center;
}

.contentEditAndDelete > .edit {
  color: var(--text-color);
  margin-right: 0.6rem;
  font-size: 18px;
}

.contentEditAndDelete > .delete {
  color: var(--text-color);
  font-size: 18px;
}

.pagination {
  margin-top: 1.6rem;
}

.loadingArea {
  pointer-events: none;
  text-align: center;
  background: var(--th-tag-background-color);
}

.searchAndAddMobile {
  display: none;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 768px) {
  .contentHeader h2 {
    font-size: 2rem;
  }

  .contentbody > table > thead > tr > th {
    font-size: 1.5rem;
  }

  .contentbody > table > tbody > tr > td {
    font-size: 1.5rem;
  }

  .searchAndAdd {
    display: none;
  }

  .searchAndAddMobile {
    display: flex;
    justify-content: space-between;
  }

  .searchAndAddMobile .search {
    flex: 1;
  }

  .contentHeader > h2 {
    text-align: center;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.4rem;
  }
}
