.wrapper {
  --margin-top-wrapper: 1rem;
  background: var(--background-color);
  height: auto;
  margin-top: -54px !important;
}

.content {
  box-shadow: var(--ring-offset-shadow-color, 0 0 #000),
    var(--ring-offset-shadow-color, 0 0 #000), var(--shadow-color);
  min-height: 100vh;
  background: var(--white-color);
  overflow: hidden;
  padding: 1rem;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid var(--dash-color);
  padding-bottom: 0.8rem;
  text-align: center;
  height: var(--height-content-header);
}

.contentHeader > h2 {
  color: var(--text-color);
  font-size: var(--name-book-font-size);
  line-height: 2.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.searchAndAdd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
  flex: 1;
}

.search {
  display: flex;
  align-items: center;
  height: var(--height-input-default);
  background: var(--white-color);
  padding: 0.4rem 1.2rem;
  border-radius: var(--border-radius-12px);
  margin-right: 1rem;
  min-width: 5rem;
  border: 1px solid var(--border-color);
}

.search > input {
  height: 100%;
  flex: 1;
  min-width: 5rem;
  position: relative;
}

.search > input::placeholder {
  color: var(--placeholder-color);
  font-weight: 500;
}

.searchIcon {
  font-size: var(--text-color);
  color: var(--icon-color);
  border-left: 1px solid var(--border-color);
  padding-left: 0.6rem;
  font-size: 2.8rem;
}

.searchIcon:hover {
  cursor: pointer;
  color: var(--icon-hover-color);
}
.empty {
  width: 28px;
}
.closeIcon {
  font-size: var(--text-color);
  color: var(--icon-color);
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 3rem;
  position: absolute;
  right: 103px;
}
.closeIcon:hover {
  cursor: pointer;
  color: var(--icon-hover-color);
}
.addnew {
  border-radius: 50%;
  border: 2px solid var(--white-color);
  width: var(--height-input-default);
  height: var(--height-input-default);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background: var(--background-button-color);
}

.addnew:hover {
  background: var(--background-button-hover-color);
  transform: scale(var(--scale-default));
  cursor: pointer;
  transition: var(--time-transition-default);
}

.addnew > button {
  color: var(--white-color);
  font-size: var(--plus-font-size);
  background: transparent;
  line-height: 1rem;
  font-weight: 300;
}

.addnew > button:hover {
  cursor: pointer;
}

.iconExport {
  font-size: var(--default-font-size);
  color: var(--white-color);
}

.inputDateExport {
  width: 12rem;
  height: 4rem;
  border-radius: 1.2rem;
  color: var(--text-color);
  padding: 0 0.8rem;
}

.contentbody {
  flex: 1;
  overflow-x: auto;
  padding-bottom: 0.2rem;
  width: 100%;
  background: var(--white-color);
}

.contentbody::-webkit-scrollbar {
  height: 1.4rem;
}

.contentbody::-webkit-scrollbar-thumb {
  height: 8px;
  background: var(--dash-color);
  border-radius: 1rem;
}

.tableContent {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 0.2rem;
}

.contentbody > table > thead > tr {
  height: var(--height-title);
}

.contentbody > table > thead > tr > th:nth-child(1) {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.contentbody > table > thead > tr > th {
  padding: 0 0.4rem;
  color: var(--title-color);
  font-weight: 600;
  background: var(--background-color);
}

.contentbody > table > tbody > tr {
  background: var(--white-color);
  height: 5rem;
  border-bottom: 1px solid var(--border-color);
}

.contentbody > table > tbody > tr:hover {
  cursor: pointer;
  background: var(--background-color);
}

.contentbody > table > tbody > tr > td {
  color: var(--text-color);
}

.stt {
  min-width: 3.6rem;
  width: 3.6rem;
  text-align: right;
}

.licensePlates {
  min-width: 14rem;
  width: 14rem;
}
.sentDay,
.contentDatetime {
  min-width: 18rem !important;
  width: 18rem !important;
  text-align: left;
}
.contentReleaseDate {
  text-align: left;
}
.sentOfIssue,
.contentDispatchID {
  min-width: 16rem !important;
  width: 16rem !important;
  text-align: right;
}

.contentSubject {
  min-width: 18rem !important;
  max-width: 18rem !important;
  width: 18rem;
  text-align: left;
}
.agencyIssued,
.contentAgencyIssued {
  min-width: 14rem !important;
  max-width: 14rem !important;
  text-align: left;
}
.penaltyPaymentDate {
  min-width: 18rem;
  width: 18rem;
}
.receiver,
.contentReceiver {
  min-width: 12rem !important;
  max-width: 12rem !important;
  text-align: left;
}
.violation {
  min-width: 10.5rem;
  max-width: 20rem;
  width: 20rem;
}

.editAndDelete {
  min-width: 4rem;
  max-width: 5rem;
  width: 5rem;
}

.contentStt {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  text-align: right;
}

.contentSentDay,
.contentLicensePlates,
.contentPenaltyPaymentDate {
  text-align: center;
}

.contentReveiver {
  text-align: center;
  width: 20rem;
}
.contentEditAndDelete {
  text-align: center;
}
.editAndDelete,
.contentEditAndDelete,
.contentStt,
.stt {
  min-width: 6rem !important;
  width: 6rem !important;
}

.contentEditAndDelete > .edit {
  color: var(--text-color);
  margin-right: 0.6rem;
  font-size: 18px;
}

.delete {
  color: var(--error-text-login-color);
  font-size: var(--delete-icon-font-size);
}

.delete:hover {
  color: var(--validate-error);
}

.pagination {
  margin: 1.6rem 0;
}

.loadingArea {
  pointer-events: none;
  text-align: center;
  background: var(--white-color);
}

.searchAndAddMobile {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
}

.groupBtnLeft,
.groupBtnRight {
  display: flex;
}

.groupBtnLeft {
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.startExportDate,
.endExportDate,
.export {
  display: flex;
  align-items: center;
}

.export {
  justify-content: flex-start;
  width: var(--height-input-default);
  width: var(--height-input-default);
}

.startExportDate span,
.endExportDate span,
.export span {
  margin-right: 0.4rem;
  font-size: 1.6rem;
}

.selectbtn {
  width: 16.5rem;
  background: var(--white-color);
  margin-right: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-12px);
}

.inputField {
  width: 15.5rem;
  padding: 1rem;
  border-radius: var(--border-radius-12px);
  color: var(--text-color);
  outline: none;
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  border: none;
}

.inputField:hover {
  cursor: pointer;
}

.inputField > option {
  font-size: 15px;
  background-color: var(--white-color);
  color: var(--text-color);
  border: none;
}

@media (max-width: 1349px) {
  .searchAndAddMobile {
    flex-direction: column;
    gap: 1.6rem;
  }

  .groupBtnLeft {
    justify-content: center;
  }

  .groupBtnLeft span,
  .startExportDate {
    margin-right: 1rem;
  }

  .inputDateExport {
    width: 13rem;
  }

  .search {
    flex: 1;
  }
}

@media (max-width: 1100px) {
  .groupBtnRight {
    width: 100%;
    flex: 1;
  }

  .startExportDate,
  .endExportDate {
    display: flex;
    margin-left: 12px;
  }

  .groupBtnLeft {
    gap: 0px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    margin: 0 0.4rem;
    padding: 0.4rem;
  }
}

@media (max-width: 768px) {
  .contentbody > table > thead > tr > th,
  .contentbody > table > tbody > tr > td {
    font-size: 1.5rem;
  }

  .searchAndAdd {
    display: none;
  }

  .searchAndAddMobile {
    display: flex;
    justify-content: space-between;
  }

  .contentHeader > h2 {
    text-align: center;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.4rem;
  }
}

@media (max-width: 676px) {
  .groupBtnLeft {
    justify-content: space-between;
  }

  .inputField {
    padding: 0.6rem;
  }

  .inputField option {
    font-size: 1.4rem;
  }
}

@media (max-width: 645px) {
  .groupBtnLeft {
    justify-content: center;
  }

  .export span {
    display: none;
  }
}

@media (max-width: 577px) {
  .groupBtnLeft {
    justify-content: center;
    height: 6.6rem;
  }

  .export span {
    display: block;
  }

  .startExportDate,
  .endExportDate,
  .export {
    flex-direction: column;
    justify-content: center;
  }

  .inputDateExport {
    width: 15rem;
  }
}

@media (max-width: 481px) {
  .inputField {
    width: 15rem;
  }
}

@media (max-width: 432px) {
  .groupBtnLeft {
    justify-content: space-between;
  }

  .startExportDate input,
  .endExportDate input {
    width: 12.4rem;
  }
}

@media (max-width: 395px) {
  .selectbtn {
    width: 14.5rem;
  }

  .inputField {
    width: 13.5rem;
  }
}

@media (max-width: 381px) {
  .export span {
    display: none;
  }
}
